@{
    ViewData[""] = "";
}

<div class="text-center">
    @*@{
            Model.testQuestionModelObj.FillRandom();
        }*@

    @*Question:*@
    @{
        var currentQuestion = Model.testQuestionModelObj.currentQuestion;
        int currentQUestionId = currentQuestion.GetId();
        //int currentPointerIndexQuestion = Model.GetQuizBase().GetCurrenPointertIndex();
    }

    <h2>Current Question id: @(currentQUestionId)</h2>
    <h2>@currentQuestion.GetQuestionText()</h2>
    <img src="@currentQuestion.GetPictureGetter().GetPictureSourceString()" class="rounded float-right" alt="...">
    @{
        //int currentIndexPointerQuestion = Model.GetQuizBase().GetCurrenPointertIndex();
        int bufferIndexAnswers = 0;
        foreach (var item in currentQuestion.GetIAnswersListsOnly())
        {
            <a class="btn btn @item.GetStatusString() btn-lg btn-block"
               href="/Home/CallAnswerForQuestion/?_indexQuestion=@currentQUestionId&_indexAnswer=@bufferIndexAnswers&_hashCode=-1"
               role="button">@item.GetAnswerText()</a>

            bufferIndexAnswers++;
            @*<button type="button" class="btn btn-outline-secondary btn-lg btn-block">@item.GetAnswerText()</button>*@
        }

        @*<img src="@currentQuestion.GetPictureGetter().GetPictureSourceString()" alt="testUrl">*@

    }

    <script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-post="vlblyadstvo/2" data-width="100%"></script>

</div>
