@*Question:*@
@{
    var currentQuestion = Model.testQuestionModelObj.currentQuestion;
    int currentQUestionId = currentQuestion.GetId();
    //int currentPointerIndexQuestion = Model.GetQuizBase().GetCurrenPointertIndex();
}

<div class="text-center">

    <h2>Current Question id: @(currentQUestionId)</h2>
    <h2>@currentQuestion.GetQuestionText()</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            @{
                int bufferIndexAnswers = 0;
                foreach (var item in currentQuestion.GetIAnswersListsOnly())
                {
                    <a class="btn btn @item.GetStatusString() btn-lg btn-block"
                       href="/Home/QuestionCheckAnswer/?_idQuestion=@currentQUestionId&_indexAnswer=@bufferIndexAnswers"
                       role="button">@item.GetAnswerText()</a>

                    bufferIndexAnswers++;
                }
            }
        </div>
        <div class="col">
            <img src="@currentQuestion.GetPictureGetter().GetPictureSourceString()" class="rounded float" width="450" alt="...">
        </div>
    </div>
</div>