@*

*@

<div class="text-center">
    <h2>Questions:</h2>

    @*Quiz:*@

    @{
        int bufferIndex = 0;
        foreach (var item in Model.GetQuizBase().GetQuestionsList())
        {
            <a class="btn @item.GetStatusString()" href="" role="button">@(bufferIndex + 1)</a>

            bufferIndex++;
        }
    }

    @*Question:*@

    <h2>Current Question @(Model.GetQuizBase().GetCurrenPointertIndex() + 1)</h2>

    <h2>Current Question @(Model.GetQuizBase().GetCurrenPointertIndex() + 1)</h2>

    @{
        int currentIndexPointerQuestion = Model.GetQuizBase().GetCurrenPointertIndex();

        var currentQuestin = Model.GetQuizBase().GetCurrentQuestion();

        foreach (var item in currentQuestin.GetIAnswersListsOnly())
        {
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">@item.GetAnswerText()</button>
        }
    }

    @*<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>*@


    <h2>@Model.GetQuizBase().GetLogString()</h2>

</div>
