@*

*@

<div class="text-center">
    <h2>Questions:</h2>

    @*Quiz:*@

    @{
        int bufferIndex = 0;
        foreach (var item in Model.GetQuizBase().GetQuestionsList())
        {
            <a class="btn @item.GetStatusString()" href="" role="button">@(bufferIndex + 1)</a>

            bufferIndex++;
        }
    }

    @*Question:*@
    @{
        var currentQuestion = Model.GetQuizBase().GetCurrentQuestion();
        int currentPointerIndex = Model.GetQuizBase().GetCurrenPointertIndex();
    }

    <h2>Current Question @(currentPointerIndex + 1)</h2>
    <h2>@currentQuestion.GetQuestionText()</h2>

    @{
        int currentIndexPointerQuestion = Model.GetQuizBase().GetCurrenPointertIndex();

        foreach (var item in currentQuestion.GetIAnswersListsOnly())
        {
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">@item.GetAnswerText()</button>
        }

        <img src="@currentQuestion.GetUrlRef()" alt="testUrl">

    }

    @*<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>*@


    <h2>@Model.GetQuizBase().GetLogString()</h2>

</div>
