@*

*@

<div class="text-center">
    <h2>Questions:</h2>

    @*Quiz:*@

    @{
        int customIdCode = Model.GetCustomId();

        int bufferIndexAllQuestions = 0;
        foreach (var item in Model.GetQuizBase().GetQuestionsList())
        {
            <a class="btn @item.GetStatusString()" href="/Home/QuizPage/?id=@bufferIndexAllQuestions&hashCode=@customIdCode" role="button">@(bufferIndexAllQuestions + 1)</a>
            bufferIndexAllQuestions++;
        }
    }

    @*Question:*@
    @{
        var currentQuestion = Model.GetQuizBase().GetCurrentQuestion();
        int currentPointerIndexQuestion = Model.GetQuizBase().GetCurrenPointertIndex();
    }

    <h2>Current Question @(currentPointerIndexQuestion + 1) / @Model.GetQuizBase().GetAllQuestionsCount()</h2>
    <h2>@currentQuestion.GetQuestionText()</h2>

    @{
        int currentIndexPointerQuestion = Model.GetQuizBase().GetCurrenPointertIndex();
        int bufferIndexAnswers = 0;
        foreach (var item in currentQuestion.GetIAnswersListsOnly())
        {
            <a class="btn btn @item.GetStatusString() btn-lg btn-block" href="/Home/CallAnswerForQuestion/?_indexQuestion=@currentPointerIndexQuestion&_indexAnswer=@bufferIndexAnswers&_hashCode=@customIdCode" role="button">@item.GetAnswerText()</a>
            bufferIndexAnswers++;
            @*<button type="button" class="btn btn-outline-secondary btn-lg btn-block">@item.GetAnswerText()</button>*@
        }

        <img src="@currentQuestion.GetPictureGetter().GetPictureSourceString()" alt="testUrl">

    }

    @*<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>*@


    <h2>@Model.GetQuizBase().GetLogString()</h2>

</div>
